body {
    font-family: Georgia, serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #6a1b9a;
    font-family: 'Aladin', cursive;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    color: #6a1b9a;
    font-family: 'Aladin', cursive;
    font-size: 2.0em;
}

.nocha {
    font-weight: bold;
    color: #ff5733; /* Different color for "No" and "Cha" */
}

.nocha-2 {
    font-family: 'Aladin', cursive;
    font-size: 1.2em;
    color: #6a1b9a;
}

.intro {
    margin-bottom: 20px;
}

.intro p {
    margin: 0 0 10px;
}

.intro a {
    color: #6a1b9a;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.intro iframe {
    margin: 20px 0;
    display: block;
    height: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #6a1b9a;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.filter-container {
    text-align: left;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-label {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.filter-label i {
    margin-right: 5px;
}

.model-selection {
    width: 100%;
    margin-bottom: 10px;
}

.clear-button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clear-button:hover {
    background-color: #5e1387;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.sort-arrow {
    font-size: 0.8em;
    margin-left: 5px;
    visibility: hidden; /* Hide arrows by default */
}

.sortable:hover .sort-arrow {
    visibility: visible; /* Show arrows on hover */
}

.asc .sort-arrow {
    visibility: visible;
}

.asc .sort-arrow::before {
    content: "\u25B2"; /* Up arrow */
}

.desc .sort-arrow {
    visibility: visible;
}

.desc .sort-arrow::before {
    content: "\u25BC"; /* Down arrow */
}

.prompt {
    margin: 20px 0;
    text-align: center;
}

.prompt h2 {
    margin-bottom: 10px;
    color: #6a1b9a;
    font-size: 2.0em;
    cursor: pointer;
}

.prompt h2:hover, .team-header:hover {
    color: #b34beb;
}

.prompt h2, .team-header {
    cursor: pointer;
}

.robotic-text {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    box-sizing: border-box;
}

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(50% - 20px); /* Adjusts to take up 50% of the container width minus margins */
    box-sizing: border-box;
}

.team-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(72, 2, 112, 0.5);
}

.team-img:hover {
    transform: scale(1.1);
}

.team p {
    color: #6a1b9a;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    .team-member {
        flex: 1 1 100%; /* Adjust to take up 100% of the container width on small screens */
    }

    table th, table td {
        padding: 8px;
    }

    .clear-button {
        font-size: 12px;
        padding: 6px 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }
}
